<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <!-- 質問一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @questions.present? %>
          <%= render @questions %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
