<header class="bg-amber-200 text-gray-600 body-font">
  <% if controller_name.in?(['first_questions', 'second_questions', 'third_questions']) %>
    <div class="container mx-auto pt-5 flex md:flex-row">
      <h1 class="font-app text-3xl"><%= t 'helpers.quiz' %></h1>
    </div>
  <% end %>
  <%= yield %>
</header>
