<header class="bg-primary text-gray-600 body-font">
  <% if controller_name == 'take_quizzes' %>
    <div class="container mx-auto pt-5 flex md:flex-row">
      <%= image_tag 'favicon.png', size: '30x30' %>
    </div>
  <% end %>
  <%= yield %>
</header>
