<div class="bg-amber-200">
  <div class="quiz-container title-font md: mb-0">
    <h1 class="quiz-title"><%= t '.title' %></h1>
    <%= render 'first_questions/question', question: @first_question %>
  </div>
</div>
