<div class="container px-5 py-24 mx-auto">
  <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
    <h1 class="title-font font-medium text-6xl text-gray-900"><%= t('.title') %></h1>
  </div>
</div>
<div class="container px-5 py-16 mx-auto">
  <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
    <p class="font-medium text-3xl text-gray-900"><%= t('.welcome_message') %></p>
  </div>
</div>
<div class="container px-5 py-4 mx-auto">
  <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
    <button class="menu-btn focus hover">
      <%= link_to t('.try'), new_question_path %>
    </button>
  </div>
</div>
<div class="container px-5 py-4 mx-auto">
  <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
    <button class="menu-btn focus hover">
      <%= link_to t('defaults.login'), login_path %>
    </button>
  </div>
</div>
