<% set_meta_tags site: '' %>
<section class="text-gray-900 body-font">
  <div class="top-wrapper mx-auto flex justify-center items-center text-center text-neutral-content content-around">
    <div class="top-body max-w-md p-10">
      <h1 class="mb-5 text-3xl font-bold"><%= simple_format(t('.catch')) %></h1>
      <p class="mb-5"><%= simple_format(t('.explain')) %></p>
      <%= link_to t('defaults.login'), login_path, class: 'btn btn-lg mt-5' %>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center p-5 space-x-4 space-y-4">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h2 class="card-title">結婚式へ招待したゲストへ</h2>
        <p>新郎新婦の写真<br/>+<br/>思い出に関係するクイズ<br/>||<br/>ご縁が深まる場になる</p>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h2 class="card-title">お客様の待ち時間に</h2>
        <p>お店・商品の写真<br/>+<br/>まめ知識や特色のクイズ<br/>||<br/>愛着を持ってもらう</p>
      </div>
    </div>
    <div class="card w-96 bg-secondary shadow-xl">
      <div class="card-body items-center text-center">
        <h2 class="card-title">メッセージをもらおう</h2>
        <p>クイズの後にひとこと<br/>感想など送ってもらえます</p>
      </div>
    </div>
  </div>
  <h1 class="text-3xl text-center pt-5">機能</h1>
  <div class="flex flex-wrap justify-center items-center p-5 space-x-4 space-y-4">
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <div class="card-body items-center text-center">
        <h2 class="card-title">オリジナルクイズを作成</h2>
        <p>クイズをあらかじめ３問登録。</p>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <div class="card-body items-center text-center">
        <h2 class="card-title">３問ずつ出題</h2>
        <p>アクセスする度に<br/>違うクイズを表示。</p>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <div class="card-body items-center text-center">
        <h2 class="card-title">２次元バーコード</h2>
        <p>ログイン後、クイズ画面への<br/>２次元バーコードを自動生成</p>
      </div>
    </div>
    <div class="card w-96 h-32 bg-base-100 shadow-xl image-full">
      <div class="card-body items-center text-center">
        <h2 class="card-title">SNSシェア機能</h2>
        <p>クイズ終了後、シェアボタンを表示</p>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <div class="card-body items-center text-center">
        <h2 class="card-title">メッセージ機能</h2>
        <p>クイズ終了後、ひとことメッセージを送信</p>
      </div>
    </div>
</section>
