<div class="lg:w-1/3 sm:w-1/2">
  <div class="flex relative">
    <div class="card bg-base-100 shadow-2xl w-auto inline-block m-3">
      <div class="card-body">
        <p><%= message.body %></p>
        <h2 class="card-title text-right"><%= message.name %></h2>
        <%= link_to message_path(message), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-right" do %>
          <%= icon 'fas', 'trash' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
