<div class="card w-auto m-2 bg-neutral-100 shadow-2xl">
  <div class="card-body items-center text-center">
    <p><%= message.body %></p>
    <h2 class="card-title text-right"><%= message.name %></h2>
    <%= link_to message_path(message), method: :delete, data:{ confirm: t('defaults.message.delete_confirm') }, class: "text-right" do %>
      <%= icon 'fas', 'trash' %>
    <% end %>
  </div>
</div>
