<% set_meta_tags title: t('.title') %>
<h1 class="ml-3 text-center text-3xl m-3"><%= t '.title' %></h1>
<% if @messages.present? %>
  <div class="flex flex-wrap justify-center items-center pb-16 px-5 pt-5">
    <%= render @messages %>
  </div>
<% else %>
  <p class="text-center p-5"><%= t('.no_message') %></p>
<% end %>
