<% set_meta_tags title: t('.title') %>
<div class="common_container">
  <div class="flex flex-col title-font font-medium items-center text-gray-900 mb-2 md: mb-0">
    <h1 class="ml-3 text-3xl m-3"><%= t '.title' %></h1>
    <% if @messages.present? %>
      <%= render @messages %>
    <% else %>
      <p><%= t('.no_message') %></p>
    <% end %>
  </div>
</div>
