<input type="checkbox" id="policy-modal" class="modal-toggle"/>
<div class="modal w-auto">
  <div class="modal-box pb-0">
    <div class="flex justify-between items-start py-4 rounded-t border-b dark:border-gray-600">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        プライバシーポリシー
      </h3>
      <label for="policy-modal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </label>
    </div>
    <!-- Modal body -->
    <div class="pt-4 space-y-6">
      <p class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        本ウェブサイトの管理者（以下、「管理者」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。
      </p>

      <div class='font-semibold mt-5 mb-3'>
        第1条（ユーザーから取得する情報）
      </div>
      <div class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        本サービスは、ユーザーから以下の情報を取得します。
        <ol class="list-decimal pl-5">
          <li>氏名(ニックネームやペンネームも含む)</li>
          <li>メールアドレス</li>
          <li>写真や動画</li>
          <li>外部サービスでユーザーが利用するID、その他外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</li>
          <li>Cookie(クッキー)を用いて生成された識別情報</li>
          <li>OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
          <li>ウェブサイトの滞在時間、入力履歴等のウェブサイトにおけるユーザーの行動履歴</li>
          <li>アプリの起動時間、入力履歴等のアプリの利用履歴</li>
        </ol>
      </div>

      <div class='font-semibold mt-5 mb-3'>
        第2条（ユーザーの情報を利用する目的）
      </div>
      <div class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        本サービスは、ユーザーから取得した情報を、以下の目的のために利用します。
        <ol class="list-decimal pl-5">
          <li>本サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
          <li>ユーザーの本サービスの利用履歴を管理するため</li>
          <li>本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
          <li>本サービスに関するご案内をするため</li>
          <li>ユーザーからのお問い合わせに対応するため</li>
          <li>本サービスの規約や法令に違反する行為に対応するため</li>
          <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
          <li>本サービスの規約の変更等を通知するため</li>
          <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
        </ol>
      </div>

      <div class='font-semibold mt-5 mb-3'>
        第3条（第三者提供）
      </div>
      <div class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        管理者は、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
        <br>
        但し、次の場合は除きます。
        <ol class="list-decimal pl-5">
          <li>個人データの取扱いを外部に委託する場合</li>
          <li>本サービスが買収された場合</li>
          <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
          <li>その他、法律によって合法的に第三者提供が許されている場合</li>
        </ol>
      </div>

      <div class='font-semibold mt-5 mb-3'>
        第4条（アクセス解析ツール）
      </div>
      <div class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        管理者は、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。 https://marketingplatform.google.com/about/analytics/terms/jp/
      </div>

      <div class='font-semibold mt-5 mb-3'>
        第5条（プライバシーポリシーの変更）
      </div>
      <div class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
      </div>

      <div class='font-semibold mt-5 mb-3'>
        第6条（お問い合わせ）
      </div>
      <div class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        本ポリシーに関するお問い合わせは、お問い合わせ先までお願いいたします。
      </div>

      <div class='mt-5 mb-3'>
        2022年9月1日 制定
      </div>
    </div>
    <!-- Modal footer -->
    <div class="flex justify-end items-center py-3 rounded-b border-t border-gray-200 dark:border-gray-600">
      <label for="policy-modal" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">閉じる</label>
    </div>
  </div>
</div>
