<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-error shadow-lg">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
