<footer class="footer footer-center p-4 bg-gray-50 text-base-content rounded">
  <div class="grid grid-flow-col gap-4 mt-6">
    <label for="terms-modal" class="link link-hover modal-button">利用規約</label>
    <label for="policy-modal" class="link link-hover modal-button">プライバシーポリシー</label>
    <label for="inquiry-modal" class="link link-hover modal-button">お問い合わせ</label>
  </div>
  <div>
    <p>Copyright © 2022 - All right reserved by</p>
    <div class="link link-hover"><%= link_to 'Welcome Quiz Maker', root_path %></div>
  </div>
</footer>
<div><%= render 'shared/helps/terms_of_service' %></div>
<div><%= render 'shared/helps/privacy_policy' %></div>
<div><%= render 'shared/helps/inquiry' %></div>
