@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'さわらびゴシック';
  src: url('../fonts/sawarabi-gothic-medium.otf') format('opentype');
}

.font-app {
  font-family: 'League Spartan', cursive;
}

.top-btn {
  @apply  bg-orange-400 text-white rounded-full px-10 py-7 m-2 w-72 h-20 transition duration-500;
}

.choice-btn {
  @apply border border-yellow-400 bg-orange-400 text-white rounded-lg p-5 m-2 w-72 h-16 transition duration-500;
}

.menu-btn {
  @apply bg-orange-400 text-white border-0 py-2 px-8 m-4 rounded text-lg;
}

.assign-form {
  @apply pl-2 w-full outline-none border-none;
}

.common_container {
  @apply container p-5 mx-auto;
}

.quiz-container {
  @apply container mx-auto px-5 py-3 flex flex-col font-medium items-center;
}

.quiz-title {
  @apply text-2xl mx-auto text-center;
}

.result-container {
  @apply container mx-auto px-5 py-3 bg-gray-50 flex flex-col font-medium items-center text-gray-900;
}

@layer utilities {
  focus {
    @apply outline-none;
  }

  hover {
    @apply bg-yellow-600;
  }
}
