<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="table-comment" class="table">
      <%= render partial: 'second_questions/choice', collection: @choices %>
    </table>
  </div>
</div>
