<p class="card-text">
  <%= form_with model: @third_question, url: result_path(@third_question), method: :get, local:true do |f| %>
    <%= f.hidden_field :second_question, :value => @second_question.id %>
    <%= f.hidden_field :first_question, :value => @first_question.id %>
    <%= f.submit choice.content, class: 'btn btn-info' %>
  <% end %>
</p>
