<div class="bg-amber-200">
  <div class="quiz-container title-font md: mb-0">
    <h1 class="quiz-title"><%= t('.title') %></h1>
    <%= render 'third_questions/question', question: @third_question %>
  </div>
</div>
