.top-wrapper {
  background-image: image-url('top_photos.jpg');
  background-color: rgba(245, 243, 242, 0.8);
  background-blend-mode: hard-light;
  background-position: right;
  background-size: cover;
  position: relative;
  height: 64vh;

  @media screen and (max-width: 767px) {
    height: calc(85vh);
  }
  .top-body {
    font-family: 'さわらびゴシック';
    background-color: rgba(245, 243, 242, 0.8);
  }
}
.top-wrapper::before {
  content: '';
  display: block;
}
