<div class="quiz__select-item">
  <label class="custom-radio">
    <input type="radio" name="choice_<%= number %>" value="<%= choice.id %>">
    <span class="custom-label"><%= choice.content %></span>
  </label>
</div>
