<div class="quiz__select-item">
  <label class="custom-radio">
    <input type="radio" name="quiz_#{num}" value="#{choice.correct_answer}">
    <span class="custom-label"><%= choices.shift if choices %></span>
  </label>
</div>
