<% set_meta_tags title: t('.title') %>
<div class="common_container">
  <div class="flex flex-col title-font font-medium items-center text-gray-900 md:mb-0">
    <p class="font-medium text-3xl text-gray-900 m-4"><%= t '.title' %></p>

    <%= render 'form' %>

    <div class="link link-primary">
      <%= link_to t('.to_register_page'), new_user_path, class: "mr-5" %>
      <%= link_to t('.password_forget'), new_password_reset_path, class: "mr-5" %>
    </div>
  </div>
</div>
